# Build artifacts
target/
node_modules/
dist/
.kube/
.direnv/
__pycache__/
.vite/
*.pyc
*.lock
!package-lock.json
!Cargo.lock
!flake.lock

# Test files
_test_*.ts

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo
